html, body {
    margin: 0;
    height: 100%;
    font-family: Helvetica, sans-serif 
}

html{
    background-image: url('./images/');
    background-size:cover;
}

body {
    background:
    background-size: 400% 400%;
    padding-top:35px;
    padding-bottom:35px;
    height:fit-content;
    min-height:100%;
}

:root {
    --accentColor: #f7bd73;
    --delay: .3s;
}

.description, .source{
    color:#000000;
    text-align:center;
    margin: 27px auto;
    margin-top:10px;
    width:90%;
    max-width: 500px;
}

.source{
    font-size:small;
    margin-top:50px;
}

.profilePicture, .profilePicture img {
    position: relative;
    width: 130px;
    height: 130px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
}

.userName {
    color: #000000;
    font-size: x-large;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link {
    position: relative;
    background-color: transparent;
    color: #000000;
    border: solid var(--accentColor) 2px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .link:hover {
        background-color: var(--accentColor);
        color: #000; /* Fallback for older browsers */
        color: rgba(0, 0, 0, 0.5);
    }
}

.link:active {
    background-color: var(--accentColor);
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
}

